:root {
  --background-color: #6d4e00;
  --bgTable-color: #fff3cd;
  --heading-color: #251a00;
  --subheading-color: #483300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}

.heading span {
  position: relative;
  display: inline-block;
  color: var(--heading-color);
  text-transform: uppercase;
  animation: heading 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes heading {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.sub-heading {
  color: var(--subheading-color);
}

.table-color,
input {
  background-color: var(--bgTable-color);
}

.custom-height {
  height: 50vh;
}

#name::placeholder,
#score::placeholder {
  color: var(--subheading-color);
}
